/* Global */
body {
  font-family: sans-serif;
  padding: 20px 40px 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 226, 226);
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

button,
input[type="submit"] {
  background-color: black;
  color: white;
  padding: 8px 50px;
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.shadow{
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.164);
}

.custom-input {
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

/* Login */

#register-div{
  width: 60vw;
  box-sizing: border-box;
  padding: 40px;
  margin-top: 40px;
  background-color: white;
  border-radius: 15px;
}

.auth-icon{
  width: 30px;
}

#authenticators-section{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Index */

#new-book-window {
  padding: 20px 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.322);
  position: fixed;
  transform: translate(0%, 15%);
}

#grid {
  margin-top: 2vh;
  display: grid;
  grid-template:
    "a b"
    "a b";
  grid-template-columns: 1fr 1fr;
  height: inherit;
  gap: 5vw;
}

#inputs-div {
  grid-area: "a";
  align-self: center;
}

#img-preview-div {
  grid-area: "b";
}

.img-preview {
  height: 60vh;
  aspect-ratio: 4 / 6;
  object-fit: cover;
}

.close-icon2 {
  width: 20px;
  position: relative;
  left: 53%;
  cursor: pointer;
}

#book-list {
  padding-top: 100px;
  width: 70vw;
}

.cover-img {
  object-fit: cover;
  aspect-ratio: 4 / 7;
}

#my-books {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5vw;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.delete {
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}

.close-icon {
  width: 20px;
}

.plus-btn{
  padding: 0px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 100%;  
  position: fixed;
  bottom: 35px;
  right: 35px;
}

#logout-btn{
  width: 20px;
  cursor: pointer;
}

#top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 0vw 5vw;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.322);
}

@media only screen and (max-width: 600px) {
  #my-books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
  }
}

/*Tablet*/
@media only screen and (min-width: 1001px) and (max-width: 1025px) {
  #my-books {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  button,
  input[type="submit"] {
    padding: 8px 30px;
  }
}

/*Phone*/
@media only screen and (max-width: 1000px) {
  #my-books {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  button,
  input[type="submit"] {
    padding: 8px 10px;
  }

  .img-preview {
    display: none;
  }

  #new-book-window {
    padding: 2vh 0;
    width: 90%;
  }

  input[type="file"] {
    width: 80%;
  }

  #grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  .close-icon2 {
    left: 43%;
  }

  button,
  input[type="submit"] {
    background-color: black;
    color: white;
    padding: 8px 50px;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
  }

  #register-div{
    width: 85vw;
  }

}
